*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

/**头部**/
#header{
	width: 1000px;
	height: 78px;
	margin: 0 auto;
}

/*logo*/
#header .logo{
	line-height: 78px;
	width: 193px;
}

#header .logo img{
	position: relative;
	top: 2px;
}

/*头部搜索框*/
#header .search{
	position: relative;
	left: 193px;
	bottom: 60px;
	width: 300px;
	height: 34px;
	border: 1px solid #ccc;
}

#header .search .search_input{
	width: 249px;
	height: 24px;
	border: 0px;
	padding: 5px 0px;
	padding-left: 14px;
	color: #ccc;
}

#header .search .search_btn{
	float: right;
	width: 34px;
	height: 34px;
	border: 0px;
}

#header .search .search_btn a{
	display: block;
	width: 34px;
	height: 34px;
	background-image: url(../images/search.png);
}

#header .search .search_btn a:hover{
	background-image: url(../images/search1.png);
}

/*头部菜单*/
#header .top_nav{
	width: 402px;
	height: 25px;
	float: right;
	position: relative;
	bottom: 86px;
}

#header .top_nav li{
	float: left;
	width: 82px;
	text-align: center;
}

#header .top_nav li a{
	color: #777;
	font-size: 14px;
}

#header .top_nav li a:hover{
	color: #169af3;
}

#header .top_nav .login{
	width: 110px;
	margin-left: 288px;
}

#header .top_nav .login .left{
	display: block;
	float: left;
	position: relative;
	bottom: 5px;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #169af3;
	border-radius: 5px;
	background-color: #169af3;
	font-size: 15px;
	color: #fff;
}

#header .top_nav .login .left:hover{
	background-color: #077ccb;
}

#header .top_nav .login .right{
	display: block;
	float: left;
	position: relative;
	left: 10px;
	bottom: 5px;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
}

#header .top_nav .login .right:hover{
	border: 1px solid #169af3;
}


/**菜单栏**/
#nav{
	width: 100%;
	height: 56px;
	background-color: #2c323b;
}

#nav .nav{
	width: 1000px;
	height: 56px;
	margin: 0 auto;
}

/*左侧菜单*/
#nav .nav .nav_left{
	width: 437px;
	height: 56px;
}

#nav .nav .nav_left li{
	float: left;
	position: relative;
	bottom: 1px;
	padding: 0px 30px;
	text-align: center;
	height: 57px;
	line-height: 56px;
}

#nav .nav .nav_left li:hover{
	background: #0c8ed9;
}

#nav .nav .nav_left .download{
	position: relative;
	bottom: 35px;
}
#nav .nav .nav_left li a{
	color: #ccc;
}

#nav .nav .nav_left .more{
	padding: 0px;
	width: 92px;
	position: relative;
	bottom: 35px;
}

#nav .nav .nav_left .more:hover .img .up{
	display: block;
}

#nav .nav .nav_left .more:hover .down{
	display: none;
}

#nav .nav .nav_left .more a{
	display: inline-block;
	height: 56px;
	line-height: 55px;
	color: #ccc;
}

#nav .nav .nav_left .more .img{
	float: right;
	width: 24px;
	height: 56px;
}

#nav .nav .nav_left .more .img .up{
	display: none;
}

#nav .nav .nav_left .more .img .down{
	position: relative;
	height: 54px;
	top: 1px;
}

#nav .nav .nav_left .more ul{
	display: none;
}

#nav .nav .nav_left .active{
	background: #0c8ed9;
}

/*more*/
#nav .nav .nav_left .more:hover ul{
	display: block;
	position: relative;
	z-index: 1;
}

#nav .nav .nav_left .more:hover ul li{
	background: #2c323b;
	padding: 0px;
	width: 92px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

#nav .nav .nav_left .more ul li a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
}

#nav .nav .nav_left .more ul li:hover{
	background: #3d444f;
}


/*右侧菜单*/
#nav .nav .nav_right{
	width: 450px;
	height: 56px;
	float: right;
	position: relative;
	bottom: 61px;
}

#nav .nav .nav_right li{
	float: left;
	width: 90px;
	height: 56px;
	line-height: 56px;
}

#nav .nav .nav_right li span{
	font-size: 12px;
	float: left;
	width: 70px;
	color: #ccc;
	position: relative;
	left: 5px;
}

#nav .nav .nav_right .img{
	width: 20px;
	height: 56px;
	float: left;
	position: relative;
	top: 1px;
}

#nav .nav .nav_right .img .after{
	display: none;
}

#nav .nav .nav_right li:hover span{
	color: #0c8ed9;
}

#nav .nav .nav_right li:hover .img .before{
	display: none;
}

#nav .nav .nav_right li:hover .img .after{
	display: block;
}





/**页面底部**/
#main_page #footer{
	height: 290px;
	background: #2c323b;
}

#main_page #footer ul{
	width: 1000px;
	height: 48px;
	margin: 0 auto;
}

#main_page #footer ul li{
	height: 48px;
	float: left;
	padding-right: 4px;
}
#main_page #footer ul a{
	display: inline-block;
	position: relative;
	height: 48px;
	line-height: 48px;
	bottom: 18px;
	font-size: 12px;
	color: #b1b3b9;
}

#main_page #footer ul a:hover{
	color: #099ff6;
}

#main_page #footer .last a{
	position: relative;
	top: 2px;
}


/*横线*/
#main_page #footer hr{
	border: 0px;
	height: 1px;
	background: #999;
}

#main_page #footer .end{
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	margin-top: 40px;
}

#main_page #footer .end p{
	width: 1000px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #999;
	font-size: 14px;
}

#main_page #footer .end a{
	color: #999;
}

#main_page #footer .end img{
	display: block;
}

#main_page #footer .end .logo{
	position: relative;
	bottom: 32px;
	left: 830px;
}

#main_page #footer .end .an{
	position: relative;
	bottom: 34px;
	left: 686px;
}


/**登录框**/
.link{text-align: right;line-height: 20px;padding-right: 40px;}
	
.dialog{ 
	width: 380px;
	height: auto;
	display: none;
	position: fixed;
	z-index: 9000;
	top: 0px;
	left: 0px;
	border: 1px solid #D5D5D5;
	background: #fff;
}

.dialog a{text-decoration: none;}

.title{
	height: 48px;line-height: 48px; padding:0px 20px;color: #535353;font-size: 16px;
	border-bottom: 1px solid #efefef;background: #f5f5f5;
	cursor: move;
	user-select:none;
}

.closebutton{
		width: 16px;
		height: 16px;
		display: block;
		position: absolute;
		top: 12px;
		right: 20px;
		background: url(../images/close_def.png) no-repeat;
		cursor: pointer;

	}
.closebutton:hover{
	background: url(../images/close_hov.png) no-repeat;
}

.content{
	padding: 15px 20px;
}
.pt{
	padding-top: 15px;
}
.login{
	height: 40px;line-height: 40px;
	text-align: right;}

.input{
	width: 100%;height: 40px;
	margin: 0px;padding:0px;
	border: 1px solid #d5d5d5;
	font-size: 16px;color: #c1c1c1;
	text-indent: 25px;
	outline: none;
}
.username{
	background: url(../images/input_username.png) no-repeat 2px ;
}

.password{
	background: url(../images/input_password.png) no-repeat 2px ;
}
.submit{
	width: 100%;height: 50px;background: #3b7ae3;border:none;font-size: 16px;color: #fff;
	outline: none;text-decoration: none;
	display: block;text-align: center;line-height: 50px;
}
.submit:hover{
	background: #3f81b0;
}

.mask{ 
	width: 100%;height:100%;background: #000;
	position: fixed;top: 0px;height: 0px;z-index: 8000;
	opacity:0.4; filter: Alpha(opacity=40);
}