#banner{
	width: 100%;
	height: 450px;
}

#banner .img{
	width: 100%;
	height: 380px;
	float: left;
}

#banner .img img{
	width: 100%;
	height: 450px;
	position: relative;
	bottom: 61px;
}


/**主页面内容**/
#concent{
	width: 1000px;
	margin: 0 auto;
}

/*热门榜单*/
#concent .hot_song{
	width: 320px;
	height: 385px;
	margin-top: 40px;
	float: right;
}

#concent .hot_song h3{
	font-size: 30px;
	display: inline-block;
	font-weight: normal;
	margin-bottom: 12px;
}

#concent .hot_song h3 span{
	color: #009af3;
}

#concent .hot_song>a{
	float: right;
	display: inline-block;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	margin-bottom: 12px;
	color: #ccc;
}

#concent .hot_song li{
	width: 320px;
	height: 98px;
	background-color: #f6f6f6;
	margin-top: 13px;
}

#concent .hot_song li .img{
	width: 98px;
	height: 98px;
	float: left;
}

#concent .hot_song li .img .after{
	display: none;
}

#concent .hot_song li:hover .img .after{
	display: block;
}

#concent .hot_song li:hover .img .before{
	display: none;
}

#concent .hot_song li .list{
	width: 200px;
	height: 68px;
	padding: 15px 11px; 
	float: right;
}

#concent .hot_song li .list h2{
	font-size: 16px;
	color: #333;
}

#concent .hot_song li .list p{
	line-height: 24px;
	color: #555;
}

#concent .hot_song li a>img{
	position: relative;
	left: 295px;
	bottom: 98px;
}

/*精选新歌*/
#concent .new_song{
	width: 655px;
	height: 385px;
	padding-top: 40px;
}

#concent .new_song h3{
	font-size: 30px;
	display: inline-block;
	font-weight: normal;
	margin-bottom: 20px;
}

#concent .new_song h3 span{
	color: #009af3;
}

#concent .new_song>a{
	float: right;
	display: inline-block;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	margin-bottom: 20px;
	color: #ccc;
}

#concent .new_song .list li{
	width: 160px;
	height: 160px;
	margin-bottom: 5px;
	float: left;
}

#concent .new_song .list li .small1{
	width: 160px;
	height: 160px;
	margin-left: 5px;
	margin-bottom: 5px;
	background: url(../images/new_song2.png);
}

#concent .new_song .list li .small1 .img{
	display: none;
}

#concent .new_song .list li .small1:hover .img{
	display: block;
}

#concent .new_song .list li .small1:hover .place{
	display: none;
}

#concent .new_song .list li .small1:hover .description{
	display: none;
}

#concent .new_song .list li .small2{
	width: 160px;
	height: 160px;
	margin-left: 10px;
	background: url(../images/new_song3.png);
}

#concent .new_song .list li .small2 .img{
	display: none;
}

#concent .new_song .list li .small2:hover .img{
	display: block;
}

#concent .new_song .list li .small2:hover .place{
	display: none;
}

#concent .new_song .list li .small2:hover .description{
	display: none;
}

#concent .new_song .list li .small3{
	width: 160px;
	height: 160px;
	margin-left: 5px;
	background: url(../images/new_song4.png);
}

#concent .new_song .list li .small3 .img{
	display: none;
}

#concent .new_song .list li .small3:hover .img{
	display: block;
}

#concent .new_song .list li .small3:hover .place{
	display: none;
}

#concent .new_song .list li .small3:hover .description{
	display: none;
}

#concent .new_song .list li .small4{
	width: 160px;
	height: 160px;
	margin-left: 10px;
	background: url(../images/new_song5.png);
}

#concent .new_song .list li .small4 .img{
	display: none;
}

#concent .new_song .list li .small4:hover .img{
	display: block;
}

#concent .new_song .list li .small4:hover .place{
	display: none;
}

#concent .new_song .list li .small4:hover .description{
	display: none;
}

#concent .new_song .list .big{
	width: 325px;
	height: 325px;
}

#concent .new_song .list li .big{
	width: 325px;
	height: 325px;
	background: url(../images/new_song1.png);
}

#concent .new_song .list li .big .img{
	display: none;
}

#concent .new_song .list li .big:hover .img{
	display: block;
}

#concent .new_song .list li .big:hover .place1{
	display: none;
}

#concent .new_song .list li .big:hover .description1{
	display: none;
}


#concent .new_song .list li .place1 img{
	margin-left: 180px;
}

#concent .new_song .list li .place1 p{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	color: #fff;
	float: right;
	margin-right: 8px;
}

#concent .new_song .list li .description1{
	width: 160px;
	height: 50px;
	position: relative;
	top: 240px;
}

#concent .new_song .list li .description1 p{
	color: #fff;
	width: 300px;
	font-size: 14px;
	padding-left: 8px;
	height: 17px;
	padding-top: 6px;
}

#concent .new_song .list li .description1 span{
	color: #ccc;
	font-size: 14px;
	padding-left: 8px
}

#concent .new_song .list li .place p{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	color: #fff;
	float: right;
	margin-right: 8px;
}

#concent .new_song .list li .description{
	width: 160px;
	height: 50px;
	position: relative;
	top: 76px;
}

#concent .new_song .list li .description p{
	color: #fff;
	font-size: 14px;
	padding-left: 8px;
	height: 17px;
	padding-top: 6px;
}

#concent .new_song .list li .description span{
	color: #ccc;
	font-size: 14px;
	padding-left: 8px
}


/**广告轮播图**/
#concent .ad_img{
	width: 1000px;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 40px;
}


/**推荐MV**/
#concent .mv{
	width: 320px;
	height: 372px;
	float: right;
}

#concent .mv h1{
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 20px;
}

#concent .mv h1 span{
	color: #44a8f4;
}

#concent .mv h1 a{
	float: right;
	color: #ccc;
	font-size: 12px;
	line-height: 40px;
}

#concent .mv .mv_list{
	width: 320px;
	height: 312px;
}

#concent .mv .mv_list .img{
	width: 320px;
	height: 175px;
	background: red;
}

#concent .mv .mv_list .img .after{
	display: none;
}

#concent .mv .mv_list .img:hover .before{
	display: none;
}

#concent .mv .mv_list .img:hover .after{
	display: block;
}

#concent .mv .mv_list .des li{
	width: 150px;
	height: 120px;
	margin-top: 17px;
	float: left;
	margin-right: 20px;
}

#concent .mv .mv_list .des .right{
	margin-right: 0px;
}

#concent .mv .mv_list .des li .ban{
	width: 150px;
	height: 80px;
}
#concent .mv .mv_list .des li .after{
	display: none;
	width: 150px;
	height: 82px;
}

#concent .mv .mv_list .des li p{
	height: 20px;
	font-size: 14px;
	height: 24px;
	line-height: 36px;
	color: #444;
}

#concent .mv .mv_list .des li span{
	font-size: 12px;
	color: #666;
}

#concent .mv .mv_list .des li:hover .before{
	display: none;
}

#concent .mv .mv_list .des li:hover .after{
	display: block;
}

#concent .mv .mv_list .des li:hover p{
	color: #009af2;
}


/**新歌首发**/
#concent .first_song{
	width: 650px;
	height: 378px;
}
#concent .first_song .nav{
	width: 650px;
	height: 60px;
}

#concent .first_song .nav h1{
	font-size: 30px;
	color: #555;
	font-weight: normal;
	width: 150px;
	float: left;
}

#concent .first_song .nav h1 span{
	color: #009bf2; 
}

#concent .first_song .nav .city li{
	float: left;
	line-height: 40px;
	margin-right: 30px;
	font-size: 14px;
}

#concent .first_song .nav .city li a{
	display: inline-block;
	width: 40px;
	height: 40px;
	color: #111;
}

#concent .first_song .nav .city .act a{
	color: #009bf2;
}

#concent .first_song .list .hide{
	display: none;
}

#concent .first_song .list div{
	width: 650px;
	height: 310px;
	margin-top: 10px;
}

#concent .first_song .nav .img{
	width: 91px;
	height: 31px;
	margin-top: 4px;
	float: right;
}

#concent .first_song .nav .img .after{
	display: none;
}

#concent .first_song .nav .img:hover .before{
	display: none;
}

#concent .first_song .nav .img:hover .after{
	display: block;
}


/*歌曲样式*/
#concent .first_song .list li{
	width: 650px;
	height: 35px;
}

#concent .first_song .list p{
	display: inline-block;
	width: 400px;
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #444;
}

#concent .first_song .list p img{
	margin-left: 12px;
}

#concent .first_song .list .time{
	display: block;
	width: 200px;
	height: 35px;
	float: right;
	font-size: 12px;
}

#concent .first_song .list ul .num{
	color: #444;
	display: block;
	height: 9px;
	width: 650px;
	text-align: center;
}
#concent .first_song .list .time .img1{
	display: inline-block;
	width: 13px;
	height: 35px;
	margin-left: 105px;
}

#concent .first_song .list .time .img1 img{
	display: none;
}

#concent .first_song .list .time .img2{
	display: inline-block;
	width: 13px;
	height: 35px;
	margin-left: 8px;
}

#concent .first_song .list .time .img2 img{
	display: none;
}

#concent .first_song .list .time .timer{
	display: inline-block;
	width: 40px;
	height: 35px;
	line-height: 35px;
	float: right;
	font-size: 14px;
	color: #444;
}

#concent .first_song .list li:hover{
	background: #f5f8fb;
}

#concent .first_song .list li:hover p{
	color: #0b8bd2;
}

#concent .first_song .list li:hover p img{
	display: none;
}

#concent .first_song .list li:hover .time .img1 .before{
	display: block;
}

#concent .first_song .list li:hover .time .img2 .before{
	display: block;
}

#concent .first_song .list li:hover .time .timer{
	color: #0b8bd2;
}

#concent .first_song .list li .time .img1:hover .before{
	display: none;
}

#concent .first_song .list li .time .img1:hover .after{
	display: block;
}

#concent .first_song .list li .time .img2:hover .before{
	display: none;
}

#concent .first_song .list li .time .img2:hover .after{
	display: block;
}



/*翻页*/
#concent .first_song .list .page{
	width: 63px;
	height: 9px;
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: 11px;
}

#concent .first_song .list .page .num{
	display: inline-block;
	width: 20px;
	height: 9px;
	margin: 0px 10px;
	text-align: center;
	font-size: 12px;
}

#concent .first_song .list .page .right{
	float: right;
}

#concent .first_song .list .hide1{
	display: none;
}
#concent .first_song .list .act{
	display: block;
}


/**广告图二**/
#concent .cat{
	width: 1000px;
	height: 100px;
	margin-top: 50px;
	margin-bottom: 40px;
}

/**热门歌手**/
#concent .hot_songer{
	width: 320px;
	height: 380px;
	float: right;
	
}

#concent .hot_songer .act a{
	color: #0b8bd2;
}

#concent .hot_songer a{
	color: #000;
}

#concent .hot_songer .more{
	color: #777;
}

#concent .hot_songer .hide{
	display: none;
}

#concent .hot_songer h1{
	font-size: 30px;
	color: #ccc;
	font-weight: normal;
	display: inline-block;
}

#concent .hot_songer h1 span{
	color: #0b8bd2;
}

#concent .hot_songer ul{
	width: 180px;
	height: 40px;
	float: right;
}

#concent .hot_songer ul a{
	float: left;
	display: inline-block;
	line-height: 40px;
	width: 45px;
	text-align: center;
	font-size: 13px;
}

#concent .hot_songer .people div{
	width: 325px;
	height: 320px;
	margin-top: 30px;
}

#concent .hot_songer .people div ul{
	width: 325px;
	height: 310px;
}

#concent .hot_songer .people div .big{
	width: 160px;
	height: 160px;
	float: left;
	margin-right: 5px;
}

#concent .hot_songer .people div .small{
	width: 105px;
	height: 105px;
	float: left;
	margin-top: 10px;
	margin-right: 6px;
}

#concent .hot_songer .people div .right1{
	width: 155px;
	margin-right: 0px;
}

#concent .hot_songer .people div .right2{
	width: 100px;
	margin-right: 0px;
}

#concent .hot_songer .people div .img1{
	width: 155px;
	height: 160px;
}

#concent .hot_songer .people div .img2{
	height: 105px;
	width: 100px;
}

#concent .hot_songer .people div li:hover img{
	opacity: 0.5;
}


/*热门电台*/
#concent .hot_radio{
	width: 650px;
	height: 380px;
}

#concent .hot_radio h1{
	font-size: 30px;
	color: #555;
	font-weight: normal;
}

#concent .hot_radio h1 span{
	color: #0b8bd2;
}

#concent .hot_radio h1 a{
	float: right;
	font-size: 13px;
	color: #777;
	display: inline-block;
	line-height: 40px;
}

#concent .hot_radio .radio{
	width: 650px;
	height: 310px;
	margin-top: 30px;
}

#concent .hot_radio .radio ul{
	width: 650px;
	height: 310px;
}
#concent .hot_radio .radio li{
	width: 100px;
	height: 140px;
	margin-right: 37.5px;
	margin-bottom: 15px;
	float: left;
}

#concent .hot_radio .radio .right{
	margin-right: 0px;
}

#concent .hot_radio .radio .play{
	width: 100px;
	height: 100px;
}

#concent .hot_radio .radio .play .after{
	display: none;
}

#concent .hot_radio .radio p{
	width: 100px;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	text-align: center;
	color: #333;
}

#concent .hot_radio .radio li:hover p{
	color: #0b8bd2;
}

#concent .hot_radio .radio li:hover .before{
	display: none;
}

#concent .hot_radio .radio li:hover .after{
	display: block;
}


/*酷狗直播*/
#concent .live{
	width: 1000px;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 50px;
}


/*合作伙伴*/
#concent .friend{
	width: 1000px;
	height: 286px;
}

#concent .friend h1{
	height: 40px;
	font-size: 30px;
	color: #777;
	font-weight: normal;
	margin-bottom: 30px;
}

#concent .friend h1 span{
	color: #0b8bd2;
}

#concent .friend ul{
	width: 1000px;
	height: 216px;
}

#concent .friend ul li{
	width: 132px;
	height: 60px;
	margin-right: 12.6px;
	margin-bottom: 12px;
	float: left;
}

#concent .friend ul .right{
	margin-right: 0px;
}


/*友情链接*/
#concent .friend_nav{
	width: 1000px;
	height: 178px;
	margin-top: 30px;
}

#concent .friend_nav h1{
	font-weight: normal;
	font-size: 30px;
	height: 40px;
	color: #777;
	margin-bottom: 30px;
}

#concent .friend_nav h1 span{
	color: #0b8bd2;
}

#concent .friend_nav h1 a{
	color: #777;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	float: right;
}

#concent .friend_nav ul{
	width: 1000px;
	height: 88px;
	margin-bottom: 20px;
}

#concent .friend_nav ul li{
	width: 125px;
	height: 30px;
	float: left;
	margin-bottom: 24px;
}

#concent .friend_nav ul li a{
	display: inline-block;
	width: 125px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #333;
}

#concent .friend_nav ul li a:hover{
	color: #0b8bd2;
}